include "window-binds.kdl"

binds {
    // Launch Apps
    Mod+Return 		{ spawn "foot"; }				// open - foot
    Shift+Mod+Return 	{ spawn-sh "foot --title=float0";}	// open - foot floating
    Mod+B 		{ spawn "zen-browser"; }			// open - zen
    
    // Rofi Menus
    Mod+Space		{ spawn-sh "rofi -show drun"; }			// menu - drun
    Alt+Space 		{ spawn "~/.config/rofi/menu-main.sh"; }	// menu - menu
    Alt+P		{ spawn "~/.config/rofi/menu-power.sh"; }	// menu - power
    Alt+W 		{ spawn "~/.config/rofi/menu-wallpaper.sh"; }	// menu - wallpaper
    Alt+M 		{ spawn "~/.config/rofi/menu-music.sh"; }	// menu - music
    Alt+S		{ spawn "~/.config/rofi/menu-screenshot.sh"; }	// menu - screenshot

    // Functions
    Alt+L 		{ spawn "hyprlock"; }				// lock screen
    Alt+C 		{ spawn-sh "hyprpicker -a -n -f hex"; }		// pick color
    Alt+R 		{ spawn "~/.config/scripts/reset-waybar.sh"; }	// restart waybar

    // Screenshots
    Print 	{ screenshot; }						// screenshot selection
    Ctrl+Print 	{ screenshot-screen; }					// screenshoot screen
    Shift+Print { screenshot-window; }					// screenshot window

    // Volume
    XF86AudioRaiseVolume allow-when-locked=true {			// volume up
	spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%+ -l 1.0";
    }
    XF86AudioLowerVolume allow-when-locked=true {			// volume down
	spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%-";
    }
    Mod+WheelScrollUp cooldown-ms=1 allow-when-locked=true {		// scroll volume up
	spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%+ -l 1.0";
    }
    Mod+WheelScrollDown	cooldown-ms=1 allow-when-locked=true {		// scroll volume down
	spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%-";
    }
    XF86AudioMute allow-when-locked=true {				// mute
	spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle";
    }
    Shift+XF86AudioMute allow-when-locked=true {			// mute mic
	spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle";
    }

    // Media

}
