// Open the Zen picture-in-picture player as floating in the bottom left corner.
window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=27 y=48 relative-to="bottom-left"
}

// Block 1Password from screen capture.
window-rule {
    match app-id=r#"^com\.1password\.1password$"#
    block-out-from "screen-capture"
}

// Launch tui apps floating
window-rule {
    match title="float0"
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { proportion 0.50; }
}   

// Puts my wallpaper on the overview instead of workspace
layer-rule {
	place-within-backdrop true
}
