layout {
    focus-ring {
        active-color   "#E9E0E5"
        inactive-color "#907D87"
        urgent-color   "#723E3F"
    }
    border {
        active-color   "#E9E0E5"
        inactive-color "#907D87"
        urgent-color   "#723E3F"
    }
    tab-indicator {
        active-color   "#E9E0E5"
        inactive-color "#907D87"
        urgent-color   "#723E3F"
    }
}

