// Imports
include "everforest.kdl"

// Startup
spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "mpd"

spawn-sh-at-startup "/home/liam/.config/scripts/restore-wallpaper.sh"

// Preferences
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

clipboard {
    disable-primary
}

// Keybindings
binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Macros

    Ctrl+Space { spawn-sh "bash -c ~/.config/scripts/stardew-cancel.sh"; }

    // Apps
    Mod+Return 		{ spawn "foot"; }
    Mod+Alt+Y 		{ spawn-sh "foot -e yazi"; }
    Mod+Alt+R 		{ spawn-sh "foot -e rmpc"; }
    Mod+Alt+B 		{ spawn "brave-origin-beta"; }

    // Floating Apps
    Mod+Shift+Return 	{ spawn-sh "foot --title=float0";}

    // Rofi
    Mod+Space { spawn-sh "~/.config/rofi/scripts/menu-drun.sh"; }
    Mod+Alt+Space { spawn-sh "~/.config/rofi/scripts/menu-main.sh"; }
    Mod+Alt+W { spawn-sh "~//.config/rofi/scripts/menu-wallpaper.sh"; }

    // Function
    Ctrl+Alt+R { spawn-sh "killall waybar & sleep 1 && waybar"; }
    Mod+S { spawn-sh "hyprpicker -anrf hex"; }

    // Media
    XF86AudioRaiseVolume 	allow-when-locked=true 	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01+ -l 1.0"; }
    XF86AudioLowerVolume 	allow-when-locked=true 	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01-"; }
    XF86AudioMute 		allow-when-locked=true 	{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }

    Shift+XF86AudioRaiseVolume 	allow-when-locked=true 	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 0.01+ -l 1.0"; }
    Shift+XF86AudioLowerVolume 	allow-when-locked=true 	{ spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 0.01-"; }
    Shift+XF86AudioMute 	allow-when-locked=true	{ spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        	allow-when-locked=true 	{ spawn-sh "mpc toggle"; }
    XF86AudioPrev        	allow-when-locked=true 	{ spawn-sh "mpc prev"; }
    XF86AudioNext        	allow-when-locked=true 	{ spawn-sh "mpc next"; }

    // Niri Special
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    // Focus
    Mod+Up 		{ focus-workspace-up; }
    Mod+Down 		{ focus-workspace-down; }
    Mod+Left 		{ focus-column-left; }
    Mod+Right 		{ focus-column-right; }

    Mod+Page_Up 	{ focus-window-up; }
    Mod+Page_Down 	{ focus-window-down; }

    Mod+Home 		{ focus-column-first; }
    Mod+End 		{ focus-column-last; }

    // Control
    Mod+Ctrl+Up 	{ move-column-to-workspace-up; }
    Mod+Ctrl+Down 	{ move-column-to-workspace-down; }
    Mod+Ctrl+Left 	{ move-column-left; }
    Mod+Ctrl+Right 	{ move-column-right; }

    Mod+Ctrl+Page_Up   	{ move-workspace-up; }
    Mod+Ctrl+Page_Down 	{ move-workspace-down; }

    Mod+Ctrl+Home 	{ move-column-to-first; }
    Mod+Ctrl+End  	{ move-column-to-last; }

    // Workspace
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    
    Mod+Tab { focus-workspace-previous; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Stack
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+W { toggle-column-tabbed-display; }

    // Proportion
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { set-column-width "50%"; }

    Mod+Ctrl+R { switch-preset-window-height; }
    Mod+Ctrl+Shift+R { set-window-height "100%"; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }

    Mod+Minus { set-column-width "33.333%"; }
    Mod+Backslash { set-column-width "50%"; }
    Mod+Equal { set-column-width "66.667%"; }

    // Floating
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // Screenshow
    Print { screenshot; }
    Shift+Print { screenshot-screen; }
    Ctrl+Print { screenshot-window; }

    // Utility
    Mod+Ctrl+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Ctrl+Q { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Ctrl+P { power-off-monitors; }
}

// Input / Output
input {
    keyboard {
	repeat-delay 200
        repeat-rate 35
        numlock
        xkb { 
	    layout "us"
	}
    }

    mouse {
        accel-speed -0.5
        accel-profile "flat"
    }

    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="1%"
}

output "DP-1" {
    mode "3440x1440@143.923"
    scale 1
    transform "normal"
    position x=0 y=0
    variable-refresh-rate
    focus-at-startup
    hot-corners {
	off
    }
}

// Layout & Animations
layout {
    gaps 8

    background-color "transparent"

    center-focused-column "never" // never, always, on-overflow

    preset-column-widths {
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
    }

    preset-window-heights {
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
    }

    default-column-width { proportion 0.5; }
    default-column-display "tabbed"

    tab-indicator {
	position "left"
	gap 2
	gaps-between-tabs 8
	length total-proportion=1.0
	hide-when-single-tab
    }

    focus-ring {
        off
    }

    border {
        width 2
    } 
}

animations {
    slowdown 0.8
}

overview {
    workspace-shadow {
	off
    }
}

// Window Rules
window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=27 y=48 relative-to="bottom-left"
}

// Block 1Password from screen capture.
window-rule {
    match app-id=r#"^com\.1password\.1password$"#
    block-out-from "screen-capture"
}

// Launch tui apps: floating, centered
window-rule {
    match title="float0"
    open-floating true
    default-column-width { proportion 0.25; }
    default-window-height { proportion 0.50; }
}   

// Enable blur
window-rule {
    background-effect {
	blur true
    }
}

layer-rule {
    match namespace="rofi"
    match namespace="waybar"
    match namespace="notifications"
    background-effect {
	blur true
    }
}

layer-rule {
    match namespace="notifications"
    background-effect {
	blur true
	xray false
    }
}

layer-rule {
    place-within-backdrop true
}
