layout {

    focus-ring {
        active-color   "#cbe3b3"
        inactive-color "#232a2e"
        urgent-color   "#f57f82"
    }

    border {
        active-color   "#cbe3b3"
        inactive-color "#232a2e"
        urgent-color   "#f57f82"
    }

    tab-indicator {
        active-color   "#cbe3b3"
        inactive-color "#2D353B"
        urgent-color   "#f57f82"
    }
}
