input {
    keyboard {
	repeat-delay 200
        repeat-rate 35
        numlock
	xkb {
	    layout "us"
	}
    }

    touchpad {
	natural-scroll
    }

    mouse {
        accel-speed -0.5
	accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "DP-1" {
    mode "3440x1440@143.923"
    scale 1.0
    transform "normal"
    position x=0 y=0
    variable-refresh-rate
    focus-at-startup
    hot-corners {
	off
    }
}
