screenshot-path "~/Pictures/Screenshots/Screenshot - %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup	// Don't show keybinds on startup
    hide-not-bound	// Hide unbound keybinds
}

clipboard {
    disable-primary	// Disable middle-click paste
}

overview {
    zoom 0.5
}
