// Remove window bars
prefer-no-csd

animations {
}

layout {
    gaps 8

    // Set to transparent to show overlay wallpaper
    background-color "transparent"

    preset-column-widths {
        proportion 0.66667
        proportion 0.5
        proportion 0.33333
    }

    preset-window-heights {
	proportion 0.66667
	proportion 0.5
        proportion 0.33333
    }

    default-column-width { proportion 0.5; }
    default-column-display "tabbed"

    tab-indicator {
	position "top"
	gap 2
	gaps-between-tabs 8
	length total-proportion=1.0
	hide-when-single-tab
    }

    focus-ring {
	off
    }

    border {
	on
	width 1.5

        active-color "#D3C6AA"
        inactive-color "#475258"
    }
}
