#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: false,
    show_song_table_header: true,
    symbols: (song: "󰝚 ", dir: "󰉋 ", playlist: "󰲸 ", marker: "󰍟"),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Tabs),
                size: "1",
            ),
	    (
		pane: Split(
		    direction: Horizontal,
		    panes: [
			(
			    pane: Pane(AlbumArt),
			    size: "13",
			),
			(
			    pane: Component("header"),
			    size: "100%",
			),
		    ]
		),
		size: "7",
		borders: "TOP | BOTTOM",
	    ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
        ],
    ),
    progress_bar: (
        symbols: ["▀", "▀", "▀", "▀", "▀"],
        track_style: (fg: "#3D484D"),
        elapsed_style: (fg: "green"),
        thumb_style: (fg: "green"),
    ),
    scrollbar: (
        symbols: ["│", "█", "", ""],
        track_style: (fg: "black"),
        ends_style: (),
        thumb_style: (fg: "green"),
    ),
    browser_column_widths: [33, 33, 33],
    text_color: "white",
    background_color: None,
    header_background_color: None,
    modal_background_color: None,
    modal_backdrop: false,
    tab_bar: (active_style: (fg: "black", bg: "green", modifiers: "Bold"), inactive_style: ()),
    borders_style: (fg: "green"),
    highlighted_item_style: (fg: "green", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "green", modifiers: "Bold"),
    highlight_border_style: (fg: "green"),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "white"), default: (kind: Text("Unknown"))),
	    label_prop: (kind: Text("Artist"), style: (fg: "green", modifiers: "Bold")),
            width: "30%",
            alignment: Left,
        ),
        (
            prop: (kind: Property(Album), style: (fg: "white"), default: (kind: Text("Unknown"))),
	    label_prop: (kind: Text("Album"), style: (fg: "green", modifiers: "Bold")),
            width: "25%",
            alignment: Left,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "white"), default: (kind: Text("Unknown"))),
	    label_prop: (kind: Text("Title"), style: (fg: "green", modifiers: "Bold")),
            width: "40%",
            alignment: Left,
        ),
	(
            prop: (kind: Property(Duration), default: (kind: Text("-"))),
            label_prop: (kind: Text("Time"), style: (fg: "green", modifiers: "Bold")),
            width: "5%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "white", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "white", modifiers: "Bold")),
                    (kind: Text(" - "), style: (fg: "white", modifiers: "Bold")),
                    (kind: Property(Status(Elapsed)), style: (fg: "white", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "white", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "white", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "white", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "white", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "white", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("[Vol: "), style: (fg: "white", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "white", modifiers: "Bold")),
                    (kind: Text("%]"), style: (fg: "white", modifiers: "Bold"))
                ]
            )
        ],
    ),
    components: {
	"state_and_elapsed": Pane(Property(
	    align: Right,
	    content: [
		(kind: Text("["), style: (fg: "white", modifiers: "Bold")),
		(kind: Property(Status(State)), style: (fg: "white", modifiers: "Bold")),
		(kind: Text(" - "), style: (fg: "white", modifiers: "Bold")),
		(kind: Property(Status(Elapsed)), style: (fg: "white", modifiers: "Bold")),
		(kind: Text("] "), style: (fg: "white", modifiers: "Bold"))
	    ],
	)),
	"artist_and_song": Pane(Property(
	    align: Left,
	    content: [
                (kind: Property(Song(Artist)), style: (fg: "white", modifiers: "Bold"), default: (kind: Text("Unknown"), style: (fg: "white", modifiers: "Bold"))),
		(kind: Text(" - "), style: (fg: "white", modifiers: "Bold")),
                (kind: Property(Song(Title)), style: (fg: "white", modifiers: "Bold"), default: (kind: Text("No Song"), style: (fg: "white", modifiers: "Bold")))
	    ],
	)),
	"volume": Pane(Property(
	    align: Right,
	    content: [
                (kind: Text("[Vol - "), style: (fg: "white", modifiers: "Bold")),
                (kind: Property(Status(Volume)), style: (fg: "white", modifiers: "Bold")),
                (kind: Text("] "), style: (fg: "white", modifiers: "Bold"))
	    ],
	)),
	"details": Split(
	    direction: Horizontal,
	    panes: [
                (size: "1", pane: Pane(Empty())),
		(size: "100%", pane: Component("artist_and_song")),
		(size: "17", pane: Component("state_and_elapsed")),
		(size: "11", pane: Component("volume")),
	    ]
	),
        "progress_bar": Split(
            direction: Horizontal,
            panes: [
                (size: "1", pane: Pane(Empty())),
		(size: "100%", pane: Pane(ProgressBar)),
                (size: "1", pane: Pane(Empty())),
            ]
        ),
	"header": Split(
	    direction: Vertical,
	    panes: [
                (size: "1", pane: Pane(Empty())),
		(size: "1", pane: Component("details")),
                (size: "1", pane: Pane(Empty())),
		(size: "1", pane: Component("progress_bar")),
	    ]
	),
    },
)
