
/*-----Theme-----*/

@define-color red 	#f57f82;
@define-color orange 	#f7a182;
@define-color yellow 	#f5d098;
@define-color lime 	#dbe6af;
@define-color green 	#cae0a7;
@define-color aqua 	#addeb9;
@define-color skye 	#ace0d4;
@define-color snow 	#afdfe6;
@define-color blue 	#b2cfed;
@define-color purple 	#d0bbf0;
@define-color pink 	#f3c0e5;
@define-color cherry 	#f6cee5;
@define-color text 	#d3C6aa;
@define-color fg2 	#adc9bc;
@define-color fg1 	#96b4aa;
@define-color fg0 	#839e9a;
@define-color bg5 	#56635F;
@define-color bg4 	#4F585E;
@define-color bg3 	#475258;
@define-color bg2 	#3D484D;
@define-color bg1 	#343F44;
@define-color bg0 	#2D353B;
@define-color bg-rgba 	rgba(45, 53, 59, 0.50);
@define-color bg-dim 	#232A2E;

/*-----Colour-----*/

@define-color background @bg0;
@define-color background-alt @bg1;
@define-color foreground @text;
@define-color accent @green;
@define-color special @yellow;

/*-----Global-----*/

* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 13px;
    min-height: 0;
}

window#waybar {
}

tooltip {
    padding: 2px;
}

tooltip label {
}

/*-----Common-----*/

window#waybar,
tooltip,
tooltip label {
    background-color: @background;
    color: @foreground;
}

#workspaces button,
#mpd,
#clock,
#custom-cava,
#custom-expand-icon,
#tray,
#wireplumber {
    background-color: @background-alt;
    color: @foreground;
}

/*-----Left-----*/

#custom-icon {
    background-image: url('/home/liam/.config/themes/images/bendalloy-bg0.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: @special;
    padding: 0px 7px;
    margin: 2px;
    font-size: 17px;
}

#workspaces {
}

#workspaces button {
    padding: 0px 4px;
    margin: 2px;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    transition: none;
    background: @background-alt;
}

#workspaces button.focused {
    font-weight: bold;
    background-color: @accent;
    color: @background;
}

/*-----Center-----*/

#mpd {
    padding: 0px 10px;
    margin: 2px;
}

#clock {
    padding: 0px 10px;
    margin: 2px;
    
    color: @accent;
}

#custom-cava {
    padding: 0px 10px;
    margin: 2px;
}

/*-----Right-----*/

#custom-expand-icon{
    padding: 0px 10px;
    margin: 2px;
}

#tray{
    padding: 0px 10px;
    margin: 2px;
}

#tray menu{
    background-color: @background;
    color: @foreground;
    border: 0px;
}

#wireplumber{
    padding: 0px 10px;
    margin: 2px;
}
