
/*-----Theme-----*/

@import url("colors.css");

/*-----Global-----*/

* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 13px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: @background;
}

tooltip {
}

tooltip label {
}

/*-----Misc-----*/

tooltip,
tooltip label {
    background-color: @background;
    color: @foreground;
}

#workspaces button,
#mpd,
#clock,
#custom-cava-left, #custom-cava-right,
#custom-expand-icon,
#custom-icon,
#idle-inhibitor,
#tray,
#wireplumber {
    color: @foreground;
}

#custom-separator {
    font-size: 20px;
    font-weight: 400;
    color: @color0;
}

/*-----Left-----*/

#custom-icon {
    font-family: 'JetBrainsMono Nerd Font Propo';
    padding: 0px 6px 0px 5px;
    margin: 2px;
    font-size: 17px;
    font-weight: bold;
}

#workspaces {
}

#workspaces button {
    padding: 0px 4px;
    margin: 0px 2px;
    color: @color6;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    transition: none;
    background: none;
}

#workspaces button.focused {
    color: @foreground;
}

/*-----Center-----*/

#mpd {
    padding: 0px 10px;
    margin: 0px 2px 0px;
}

#custom-cava-left, #custom-cava-right{
    padding: 0px 10px;
    margin: 0px 2px 0px;
}

/*-----Right-----*/

#custom-expand-icon{
    padding: 0px 10px;
    margin: 0px 2px;
    color: @color0;
}

#tray{
    padding: 0px 10px;
    margin: 0px 2px;
}

#tray menu{
    background-color: @background;
    color: @foreground;
    border: 0px;
}

#pulseaudio-slider {
    min-width: 120px;
}

#pulseaudio-slider slider {
    background: transparent;
}

#pulseaudio-slider trough {
    min-height: 4px;
    background: @color0;
}

#pulseaudio-slider highlight {
    background: @color6;
}

#wireplumber{
    padding: 0px 10px;
    margin: 0px 2px;
}

#wireplumber.muted{
    color: @color6;
}

#clock {
    padding: 0px 10px;
    margin: 0px 2px;
    color: @foreground;
}

#idle_inhibitor {
    padding: 0px 10px;
    margin: 0px 2px;
}

#idle_inhibitor.deactivated {
    color: @color6
}

#custom-power {
    font-family: 'JetBrainsMono Nerd Font Propo';
    background-color: @color2;
    padding: 0px 7px;
    margin: 2px;
    font-size: 17px;
    font-weight: bold;
}
